// Import fonts
@import "fonts.scss";

// Import Bootstrap
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/toasts";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/spinners";
@import "bootstrap/utilities";
@import "bootstrap/print";


// Variables
$color_1: #fff;
$color_2: #6c757d;
$color_3: #1a1a1a;
$color_4: #495464;
$color_5: #F4F4F2;
$color_6: #d3d3d3;
$color_7: gray;
$font_family_1: 'Exo2', sans-serif;

$background_color_1: #F4F4F2;
$background_color_2: #495464;
$background_color_3: rgba(255,255,255,0.15);
$background_color_4: #495464c7;
$background_color_5: #BBBFCA;
$background_color_6: #fff;
$background_color_7: #f5f5f5;
$border_color_1: #495464;
$border_color_2: transparent;

// Import Microbo
@import "base";
@import "button";
@import "dev";
@import "dialog";
@import "dropdown";
@import "footer";
@import "form";
@import "card";
@import "jsoneditor";
@import "navbar";
@import "progressbar";
@import "utilities";
@import "chart_widget";

// Sections
@import "section";
@import "section--signin";
@import "section--json-storage";





