<!-- Content -->
<section class="section--documentation">
    <div  class="container">

            <div class="title">
                <h1 class="main-title">About MICROBO</h1>
            </div>

            <div class="content card">
                <div class="card-body">
                    <p>MICROBO is an opinionated admin manager on top of Express framework that allows data manipulation via JSON files.</p>
                    <p><b>It is proof-of-concept in a first place so it's not recommended for production.<b></p>
                    <p>Main idea is to simplify development proccess via minimizing interattions with databases and edit all nessesary data via JSON editor that is avalable inside templates.</p>
                </div>
            </div>
        </div>
    </div>
</section>